.bundle
.vagrant
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
tmp/restart.txt
public/system
config/email_password.txt
s3_local.yml
app_config_local.yml
config/s3cfg
public/videos/*.mp4
public/harrison-shared
